@import "styles/vars"

main.v-homepage
    padding: 1rem
    background-color: #5f3e3e9a
    > *
        text-align: center

    .homepage-title
        font-size: 30px
        font-weight: 700
        color: #3fc25b